*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  background-color: #34495E ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
a{
  color: white;
}
.body_div{
  width: 1000px;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
header ul{
  display: flex;
}
header ul li{
  margin: 0px 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.262);
  padding: 10px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* _____________Home____________ */
.home_div{
  height: 400px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_div{
  padding: 20px 20px;
  height:400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.text_div textarea{
  width: 100%;
  height: 100%;
  background-color: #233343;
  outline: none;
  padding: 20px;
  color: white;
}